$color-dark: #212121;
$color-white-1: #fff;
$color-white-2: #EFEFEF;
$color-blue-1: #205375;
$color-blue-2: #112B3C;
$color-orange: #F66B0E;

// Font weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 700;

$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px
);