.page-admin {
    .container{
        padding: 0;
    }
    .navbar {
        background: #f46b45;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #eea849, #f46b45);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #eea849, #f46b45);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        .navbar-brand {
            color: #fff;
        }

        .nav-link {
            color: #fff;
            transition: all 0.25s linear;

            &:hover {
                color: rgb(227, 227, 227);
            }
        }
    }
}

.tblSanPham {
    padding-top: 20px;

}

.form-group {
    label {
        margin-top: 8px;
    }
}

.sp-thongbao {
    color: red;
    margin-left: 2px;
    display: none;
}

@media screen and (min-width: 1400px) {
    .page-admin {
        .container {
            max-width: 100%;
        }
    }
}