<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ShopPi</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

  <link rel="stylesheet" href="../../asset/css/main.css" />
</head>

<body>
  <div id="page-customer">
    <header class="page-nav-customer">
      <div class="container">
        <div class="content-wrapper">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <i class="fa-solid fa-shop"></i>
                <span>ShopPi</span>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse navbar-options" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>

                <div>
                  <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modalGioHang" onclick="renderCart()">
                    <i class="fa-solid fa-cart-shopping ic-cart">
                      <span id="noti-cart" class="badge-custom">0</span>
                    </i>
                    <span style="padding-left: 10px;">Giỏ hàng</span>

                  </a>
                </div>

                <div>
                  <a class="nav-link" href="../../index.html">
                    <i class="fa-solid fa-door-open ic-home"></i>
                    <span style="padding-left: 10px;">HomePage</span>
                  </a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <section class="page-content">
      <div class="container">
        <div class="content-wrapper">
          <h4 style="text-align: center;">Chào mừng quý khách hàng đã ghé thăm mua sắm điện thoại di động chính hãng
            trên trang ShopPi</h4>

          <div class="row d-flex">
            <div class="col-md-8">
              <h5>Danh sách sản phẩm</h5>
            </div>
            <div class="col-md-4">

            </div>
          </div>

          <div class="row d-flex">
            <div class="col-md-4">

              <label for="select-filterType">Lọc sản phẩm</label>
              <select id="select-filterType" class="form-select input-filter" aria-label="Default select example"
                onchange="filterSP()">
                <option selected>Open this select menu</option>
                <option value="Iphone">Iphone</option>
                <option value="Samsung">Samsung</option>
              </select>
            </div>
          </div>

          <div id="list-product" class="row list-wrapper">
            <!-- <div class="col-md-4">

            </div> -->
          </div>
        </div>

      </div>

    </section>

    <div class="modal fade" id="modalGioHang" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog .modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Thông tin giỏ hàng</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table id="table-cart" class="table table-responsive table-hover">
              <thead class="table-warning">
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col">Đơn giá</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody id="table-cart-content">
              </tbody>
            </table>

            <div class="d-flex justify-content-end">
              <span>Tổng tiền: </span>
              <span id="total-price"></span>
              <span> VND</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary btn-custom" data-bs-target="#modalXacNhanTT"
              data-bs-toggle="modal">Thanh toán</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalXacNhanTT" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
      tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Thông báo</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Chúc mừng bạn đã thanh toán thành công.
          </div>
          <div class="modal-footer">
            <button class="btn btn-success btn-custom" data-bs-dismiss="modal" onclick="xoaGioHang()">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js"
    integrity="sha512-OdkysyYNjK4CZHgB+dkw9xQp66hZ9TLqmS2vXaBrftfyJeduVhyy1cOfoxiKdi4/bfgpco6REu6Rb+V2oVIRWg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="../Model/Product.js"></script>
  <script src="../Model/ProductList.js"></script>
  <script src="../Model/CartItem.js"></script>
  <script src="../Services/CustomerServices.js"></script>
  <script src="../Controller/MainCustomer.js"></script>
</body>

</html>